body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.botao{
    background-color: rgb(81, 12, 145);
    color: rgb(255, 255, 255);
    margin-top: 0px;
    padding: 5px;
    border-radius: 12px;
    
}
.divisoria{
    background-color: rgb(183, 226, 226);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(190, 190, 190);
    padding: 20px;
    padding-top: 0px;
    margin-top: 10px;   
    
}
.botao-anterior{
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid green;
    padding: 5px;
    transition-duration: 0.3s;
    
}
.botao-anterior:hover{
    background-color: rgb(177, 252, 177);
}
.formulario {
    background-color: aqua;
    padding: 10px;
    width: 400px;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 12px;
    
}
.input {
    background-color: rgb(209, 177, 231);
}
.centralizar {
    align-items: center;

}